//footer avec contacts , main tenant phone
$color-logo: #851a7f;
.color-logo{
    color:$color-logo;
}
.color-text{
    color: #838080;
}
   
footer{
    font-family: 'Arima Madurai', cursive;
    .phone{
        width: 117px;
    }
    & li a:hover{
        color: $color-logo!important;  
    }
    & .flag img{
        width:55px;
        height: 35px;
    }
    a p {
        &:hover{
            color: $color-logo;
        }
    }
    .imgAurore{
        width:130px;
        height: auto;
        top: 2rem;
        left:60vw;
    }
}

@media screen and (min-width:600px) {
    .imgAurore{
        display: block!important;
    }
}